.App {
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

a {
  color: greenyellow;
}

svg {
  max-width: 100%;
}